*{
    margin: 0px;
    padding: 0px;
}
.nav{
    /* border: 1px solid white; */
    background-color: white;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 50px 0px 10px;
    color: rgb(48, 48, 48);
    align-items: center;
    text-align: center;
    border-bottom: 1px solid gray;
}
.flexrow{
    display:flex;
    flex-direction: row;
}
.bodybox{
    padding: 30px;
    background-color: black;
    align-items: center;
    text-align: center;
}
.font1{
    font-weight: bolder;
    font-size: large;
}
.font2{
    color: white;
    font-weight: bolder;
    font-size: 75px;
}
.smallbox{
    border: 2px solid white;
    margin-left: 40px;
    margin-top: 10px;
    align-items: center;
    text-align: center;
}
.smallbox2{
    border: 2px solid black;
    width: 300px;
    height: 100px;
    text-align: center;
    align-items: center;
}
.cursor{
    cursor: pointer;
}
.font3{
    font-weight: bold;
    color: rgb(48, 48, 48);
    margin-left: 50px;
    font-size: 40px;

}
.mar20{
    margin: 20px;
}
.center{
    align-items: center;
    text-align: center;
}
.none{
    text-decoration: none;
    color: black;
}
.hrbox{
    margin: 100px 50px;
}
.endpage{
    display: flex;
    flex-direction: row;
    margin: 0px 50px;
}
.lasthr{
    margin: 30px 50px;
}
.whitenone{
    text-decoration: none;
    color: white;
}
.quote{
    color: orange;
    font-size: 40px;
    font-weight: bold;
}
.font4{
    font-weight: bold;
    font-size: 40px;
}
/* .feedbackbox{
    border: 1px solid black;
    width: 60%;
    margin: 20px 270px;
    height: 300px;
} */
